@use '../settings' as setting;
@use '../tools' as tool;
@use 'sass:map';

@layer default, layout, theme, utilities;

@layer default {
  *:where(:not(iframe, canvas, img, svg, video, svg *)) {
    all: unset;
    display: revert;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    overflow-wrap: break-word;
  }

  :root {
    @each $key, $name in setting.$spaceScale {
      $is_target: $key != auto;
      @if $is_target {
        & {
          --s-#{$key}: #{setting.f-get-space($key)};
        }
      } @else if $key == auto {
        & {
          --s-#{$key}: #{$key};
        }
      }
    }

    & {
      --s-clamp: clamp(
        clamp(
          #{setting.f-get-space(m)},
          #{map.get(setting.$breakpoints, overm)},
          #{setting.f-get-space(xl)}
        ),
        #{map.get(setting.$breakpoints, overs)},
        clamp(
          #{setting.f-get-space(xl)},
          #{map.get(setting.$breakpoints, overm)},
          #{setting.f-get-space(3xl)}
        )
      );
      --s-reading: #{setting.$readableLength};
    }

    @each $key, $name in setting.$fontScale {
      & {
        --f-#{$key}: #{setting.f-font-size($key)};
      }
    }
  }

	:where(:root) {
		text-spacing-trim: trim-start;
		text-autospace: normal;
		line-break: strict;
		overflow-wrap: anywhere;
		scrollbar-gutter: stable;
		-webkit-tap-highlight-color: transparent;
	}

	:where(body) {
		min-block-size: 100dvb;
		margin: unset;
	}

	:where(:is(h1, h2, h3, h4, h5, h6):lang(en)) {
		text-wrap: pretty;
	}

	:where(h2, h3, h4, h5, h6) {
		margin-block: unset;
	}

	:where(search) {
		display: block flow;
	}

	:where(p, blockquote, figure, pre, address, ul, ol, dl, menu) {
		margin-block: unset;
	}

	:where(blockquote, figure) {
		margin-inline: unset;
	}

	:where(p:lang(en)) {
		text-wrap: pretty;
	}

	:where(address:lang(ja)) {
		font-style: unset;
	}

	:where(pre) {
		text-spacing-trim: space-all;

		text-autospace: no-autospace;
	}

	@media print {
		:where(pre) {
			text-wrap-mode: unset;
		}
	}

	:where(:is(i, cite, em, dfn):lang(ja)) {
		font-style: unset;
	}

	:where(u, s, del, ins) {
		text-decoration-inset: auto;
	}

	:where(code, kbd, samp) {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
		font-feature-settings: initial;
		font-variation-settings: initial;
		font-size: unset;
		font-variant-ligatures: none;
	}

	:where(abbr[title]) {
		text-decoration-line: underline;
		text-decoration-style: dotted;
		text-decoration-inset: auto;
		cursor: help;
	}

	:where(time) {
		text-autospace: no-autospace;
	}

	@media print {
		:where(mark) {
			border-width: 1px;
			border-style: dotted;
		}
	}

	:where(a:any-link) {
		text-decoration-thickness: from-font;

		text-decoration-inset: auto;
	}

	:where(img, svg, picture, video, audio, canvas, model, iframe, embed, object) {
		max-inline-size: 100%;
		vertical-align: bottom;
	}

	:where(img, svg, picture, video, canvas, model, iframe, embed, object) {
		block-size: auto;
	}

	:where(caption:lang(en)) {
		text-wrap: pretty;
	}

	:where(input[type="search" i]) {
		-webkit-appearance: textfield;
	}

	@supports (-webkit-touch-callout: none) {
		:where(input[type="search" i]) {
			background-color: Canvas;
		}
	}

	:where(
			input:is(
					[type="tel" i],
					[type="url" i],
					[type="email" i],
					[type="number" i]
				):not(:placeholder-shown)
		) {
		direction: ltr;
	}

	:where(textarea) {
		margin-block: unset;
	}

	:where(
			input:not([type="button" i], [type="submit" i], [type="reset" i]),
			textarea,
			[contenteditable]
		) {
		text-autospace: no-autospace;
	}

	:where(
			button,
			input:is([type="button" i], [type="submit" i], [type="reset" i])
		),
	::file-selector-button {
		background-color: unset;
	}

	:where(
			button,
			input:is([type="button" i], [type="submit" i], [type="reset" i]),
			[role="tab" i],
			[role="button" i],
			[role="option" i]
		),
	::file-selector-button {
		touch-action: manipulation;
	}

	:where(
			button:enabled,
			label[for],
			select:enabled,
			input:is(
					[type="button" i],
					[type="submit" i],
					[type="reset" i],
					[type="radio" i],
					[type="checkbox" i]
				):enabled,
			[role="tab" i],
			[role="button" i],
			[role="option" i]
		),
	:where(:enabled)::file-selector-button {
		cursor: pointer;
	}

	:where(fieldset) {
		min-inline-size: 0;
		margin-inline: unset;
		padding: unset;
		border: unset;
	}

	:where(legend) {
		padding-inline: unset;
	}

	:where(progress) {
		vertical-align: unset;
	}

	::placeholder {
		opacity: unset;
	}

	:where(summary) {
		list-style-type: "";
		cursor: pointer;
	}

	:where(summary)::-webkit-details-marker {
		display: none;
	}

	:where(dialog, [popover]) {
		overscroll-behavior-block: contain;

		padding: unset;
		border: unset;
	}

	:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
		display: none !important;
	}

	:where(dialog) {
		max-inline-size: unset;
		max-block-size: unset;
	}

	:where([popover]) {
		margin: unset;
	}

	:where(:focus-visible) {
		outline-offset: 3px;
	}

	[tabindex="-1"]:focus {
		outline: none !important;
	}

	:where(:disabled, [aria-disabled="true" i]) {
		cursor: default;
	}

	[hidden]:not([hidden="until-found" i]) {
		display: none !important;
	}

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100svh;
    font-family: setting.$font-family;
    font-size: var(--f-m, 1rem);
    font-weight: map.get(setting.$fontWeight, r);
    font-feature-settings: 'palt';
    font-optical-sizing: auto;
    line-height: map.get(setting.$lineHeight, m);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
  }

  b,
  strong {
    font-weight: map.get(setting.$fontWeight, b);
  }

  small {
    font-size: setting.f-font-size(xs);
  }

  a,
  button {
    cursor: pointer;
    transition: var(--trn, all) var(--drt, 0.3s) var(--tmn, ease-in-out)
      var(--dly, 0s);

    & * {
      transition: inherit;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  svg {
    width: auto;
    height: 1em;
  }

  ol,
  ul,
  details > summary {
    list-style: none;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

@layer theme {
  :root {
    @each $key, $name in setting.$semantic-light {
      --c-#{$key}: #{($name)};
    }

    @each $key, $values in setting.$shadows {
			$value-string: '';
			@each $value in $values {
				@if $value-string == '' {
					$value-string: #{$value};
				} @else {
					$value-string: $value-string + ', ' + #{$value};
				}
			}
			--c-shadow-#{$key}: #{$value-string};
		}

    --c-scrim-adujust: #{rgba(
        map.get(setting.$sys-light, scrim),
        setting.$scrim-ratio
      )};

    @include tool.darkmode {
      @each $key, $name in setting.$semantic-dark {
        --c-#{$key}: #{($name)};
      }
    }
  }

  body {
    color: var(--c-txt, #333);
    background: var(--c-bg, #fff);
  }
}
