$myBrand: (
  lightTint: #448276,
  lightMiddle: #2c6c60,
  lightShade: #195d51,
  darkTint: #78b7a9,
  darkMiddle: #6aa99b,
  darkShade: #508f82,
) !default;

$accent: (
  lightTint: #e54440,
  lightMiddle: #c82e2e,
  lightShade: #b01b20,
  darkTint: #ff9288,
  darkMiddle: #ff7b71,
  darkShade: #de6259,
) !default;

$accentAlt: (
  lightTint: #ff7a76,
  lightMiddle: #ff5a5a,
  lightShade: #df4345,
  darkTint: #ffb4b0,
  darkMiddle: #ffa6a1,
  darkShade: #db8883,
) !default;

$refBlue: (
  lightTint: #4c8fff,
  lightMiddle: #007aff,
  lightShade: #0067d9,
  darkTint: #9cbcff,
  darkMiddle: #89b0ff,
  darkShade: #6c93e0,
) !default;

$refIndigo: (
  lightTint: #6e6ced,
  lightMiddle: #5856d6,
  lightShade: #4744c5,
  darkTint: #a6a6ff,
  darkMiddle: #9696ff,
  darkShade: #7c7ce3,
) !default;

$refPurple: (
  lightTint: #c366f2,
  lightMiddle: #af52de,
  lightShade: #993cc8,
  darkTint: #e2a2ff,
  darkMiddle: #dc91ff,
  darkShade: #bd75e0,
) !default;

$refPink: (
  lightTint: #ff6171,
  lightMiddle: #ff2d55,
  lightShade: #e00842,
  darkTint: #ffa8ac,
  darkMiddle: #ff979d,
  darkShade: #dc7b81,
) !default;

$refRed: (
  lightTint: #ff6858,
  lightMiddle: #ff3b30,
  lightShade: #df221d,
  darkTint: #ffaba0,
  darkMiddle: #ff9b8e,
  darkShade: #dc7e72,
) !default;

$refOrange: (
  lightTint: #ffa74b,
  lightMiddle: #ff9500,
  lightShade: #d67c00,
  darkTint: #ffcb9f,
  darkMiddle: #ffc28b,
  darkShade: #d9a16c,
) !default;

$refYellow: (
  lightTint: #ffd452,
  lightMiddle: #ffcc00,
  lightShade: #d5aa00,
  darkTint: #ffe6a5,
  darkMiddle: #ffe192,
  darkShade: #d7bb70,
) !default;

$refGreen: (
  lightTint: #3ad94b,
  lightMiddle: #28cd41,
  lightShade: #00ad2e,
  darkTint: #5af463,
  darkMiddle: #52ed5d,
  darkShade: #20c83d,
) !default;

$refTeal: (
  lightTint: #68bbd2,
  lightMiddle: #59adc4,
  lightShade: #3b92a9,
  darkTint: #88daf3,
  darkMiddle: #7fd2ea,
  darkShade: #5db1c8,
) !default;

$refCyan: (
  lightTint: #62c9fc,
  lightMiddle: #55bef0,
  lightShade: #2da0d1,
  darkTint: #a9dfff,
  darkMiddle: #97d9ff,
  darkShade: #74b6db,
) !default;
