$ref-primary: (
  level0: #000000,
  level4: #00110e,
  level5: #001410,
  level6: #001713,
  level10: #00201b,
  level12: #00251f,
  level15: #002c25,
  level17: #003029,
  level20: #00382f,
  level24: #004138,
  level25: #00443a,
  level30: #005045,
  level35: #005d51,
  level40: #006b5c,
  level50: #298575,
  level60: #489f8e,
  level70: #65baa8,
  level80: #80d6c4,
  level87: #94ead7,
  level90: #9cf3df,
  level92: #a2f8e5,
  level94: #a8feeb,
  level95: #b6ffee,
  level96: #c7fff1,
  level98: #e5fff7,
  level99: #f3fffa,
  level100: #ffffff,
) !default;

$ref-secondary: (
  level0: #000000,
  level4: #00110d,
  level5: #001410,
  level6: #001712,
  level10: #06201a,
  level12: #0b241e,
  level15: #112a24,
  level17: #162e29,
  level20: #1d352f,
  level24: #263e38,
  level25: #28403a,
  level30: #334b45,
  level35: #3f5751,
  level40: #4a635c,
  level50: #637c75,
  level60: #7c968e,
  level70: #96b1a9,
  level80: #b1ccc4,
  level87: #c4e0d7,
  level90: #cde8df,
  level92: #d2eee5,
  level94: #d8f4eb,
  level95: #dbf7ee,
  level96: #defaf0,
  level98: #e5fff6,
  level99: #f3fffa,
  level100: #ffffff,
) !default;

$ref-tertiary: (
  level0: #000000,
  level4: #001111,
  level5: #001414,
  level6: #001717,
  level10: #002020,
  level12: #002424,
  level15: #002b2b,
  level17: #003030,
  level20: #003737,
  level24: #0c4040,
  level25: #0f4242,
  level30: #1e4e4e,
  level35: #2b5a5a,
  level40: #386666,
  level50: #517f7f,
  level60: #6b9999,
  level70: #85b4b3,
  level80: #a0cfcf,
  level87: #b3e3e2,
  level90: #bbeceb,
  level92: #c1f1f1,
  level94: #c6f7f6,
  level95: #c9faf9,
  level96: #ccfdfc,
  level98: #e2fffe,
  level99: #f1fffe,
  level100: #ffffff,
) !default;

$ref-neutral: (
  level0: #000000,
  level4: #0c0f0e,
  level5: #0e1211,
  level6: #111413,
  level10: #191c1c,
  level12: #1d2020,
  level15: #232626,
  level17: #272b2a,
  level20: #2e3130,
  level24: #373a39,
  level25: #393c3b,
  level30: #444746,
  level35: #505352,
  level40: #5c5f5e,
  level50: #757876,
  level60: #8f9190,
  level70: #a9acaa,
  level80: #c5c7c5,
  level87: #d8dad9,
  level90: #e1e3e1,
  level92: #e7e9e7,
  level94: #eceeed,
  level95: #eff1ef,
  level96: #f2f4f2,
  level98: #f8faf8,
  level99: #fbfdfb,
  level100: #ffffff,
) !default;

$ref-neutralVariant: (
  level0: #000000,
  level4: #07100e,
  level5: #091311,
  level6: #0c1513,
  level10: #141d1b,
  level12: #18211f,
  level15: #1e2825,
  level17: #222c29,
  level20: #293230,
  level24: #323b39,
  level25: #343d3b,
  level30: #3f4946,
  level35: #4b5452,
  level40: #56605d,
  level50: #6f7976,
  level60: #89938f,
  level70: #a3adaa,
  level80: #bec9c5,
  level87: #d2dcd8,
  level90: #dae5e1,
  level92: #e0eae6,
  level94: #e6f0ec,
  level95: #e9f3ef,
  level96: #ecf6f2,
  level98: #f1fcf7,
  level99: #f4fffa,
  level100: #ffffff,
) !default;

$ref-blue: (
  level0: #000000,
  level4: #000d28,
  level5: #00102d,
  level6: #001231,
  level10: #001a41,
  level12: #001e49,
  level15: #002454,
  level17: #00285c,
  level20: #002e69,
  level24: #00377a,
  level25: #00397e,
  level30: #004493,
  level35: #004faa,
  level40: #005bc1,
  level50: #0072f0,
  level60: #4b8eff,
  level70: #80abff,
  level80: #adc6ff,
  level87: #cbdaff,
  level90: #d8e2ff,
  level92: #e0e8ff,
  level94: #e9edff,
  level95: #edf0ff,
  level96: #f1f3ff,
  level98: #f9f9ff,
  level99: #fefbff,
  level100: #ffffff,
) !default;

$ref-indigo: (
  level0: #000000,
  level4: #050044,
  level5: #06004c,
  level6: #070053,
  level10: #0c006a,
  level12: #0e0076,
  level15: #120088,
  level17: #150094,
  level20: #1c0b9f,
  level24: #261da7,
  level25: #2921a9,
  level30: #3631b4,
  level35: #423fc0,
  level40: #4f4ccd,
  level50: #6867e7,
  level60: #8382ff,
  level70: #a2a2ff,
  level80: #c2c1ff,
  level87: #d8d6ff,
  level90: #e2dfff,
  level92: #e8e5ff,
  level94: #efecff,
  level95: #f2efff,
  level96: #f5f2ff,
  level98: #fcf8ff,
  level99: #fffbff,
  level100: #ffffff,
) !default;

$ref-purple: (
  level0: #000000,
  level4: #1d002d,
  level5: #210032,
  level6: #250037,
  level10: #310048,
  level12: #370051,
  level15: #40005e,
  level17: #470067,
  level20: #510074,
  level24: #5e0086,
  level25: #61008b,
  level30: #7201a2,
  level35: #7f1daf,
  level40: #8d2ebc,
  level50: #a94cd8,
  level60: #c567f4,
  level70: #da8cff,
  level80: #e8b3ff,
  level87: #f2cdff,
  level90: #f6d9ff,
  level92: #f9e0ff,
  level94: #fce7ff,
  level95: #fdebff,
  level96: #feefff,
  level98: #fff7fc,
  level99: #fffbff,
  level100: #ffffff,
) !default;

$ref-pink: (
  level0: #000000,
  level4: #270005,
  level5: #2c0006,
  level6: #310007,
  level10: #40000c,
  level12: #48000e,
  level15: #540012,
  level17: #5b0015,
  level20: #680019,
  level24: #78001e,
  level25: #7c0020,
  level30: #920027,
  level35: #a8002e,
  level40: #be0036,
  level50: #e91748,
  level60: #ff5167,
  level70: #ff8890,
  level80: #ffb3b5,
  level87: #ffcecf,
  level90: #ffdada,
  level92: #ffe1e1,
  level94: #ffe9e9,
  level95: #ffedec,
  level96: #fff0f0,
  level98: #fff8f7,
  level99: #fffbff,
  level100: #ffffff,
) !default;

$ref-red: (
  level0: #000000,
  level4: #280000,
  level5: #2d0000,
  level6: #310001,
  level10: #410001,
  level12: #490001,
  level15: #540002,
  level17: #5c0002,
  level20: #690003,
  level24: #790004,
  level25: #7e0004,
  level30: #930005,
  level35: #a90008,
  level40: #c0000a,
  level50: #e62721,
  level60: #ff5545,
  level70: #ff8a7b,
  level80: #ffb4aa,
  level87: #ffcfc8,
  level90: #ffdad5,
  level92: #ffe2dd,
  level94: #ffe9e6,
  level95: #ffedea,
  level96: #fff0ee,
  level98: #fff8f7,
  level99: #fffbff,
  level100: #ffffff,
) !default;

$ref-orange: (
  level0: #000000,
  level4: #1a0a00,
  level5: #1e0d00,
  level6: #210f00,
  level10: #2d1600,
  level12: #331900,
  level15: #3c1f00,
  level17: #412200,
  level20: #4b2800,
  level24: #572f00,
  level25: #5a3100,
  level30: #6a3b00,
  level35: #7b4500,
  level40: #8c5000,
  level50: #af6500,
  level60: #d47b00,
  level70: #fa9200,
  level80: #ffb874,
  level87: #ffd2aa,
  level90: #ffdcbf,
  level92: #ffe3cd,
  level94: #ffeada,
  level95: #ffeee1,
  level96: #fff1e8,
  level98: #fff8f5,
  level99: #fffbff,
  level100: #ffffff,
) !default;

$ref-yellow: (
  level0: #000000,
  level4: #140d00,
  level5: #171000,
  level6: #1a1200,
  level10: #241a00,
  level12: #291e00,
  level15: #302400,
  level17: #352800,
  level20: #3d2f00,
  level24: #473700,
  level25: #4a3900,
  level30: #584400,
  level35: #665000,
  level40: #745b00,
  level50: #927300,
  level60: #b08c00,
  level70: #d0a600,
  level80: #f1c100,
  level87: #ffd65b,
  level90: #ffe08b,
  level92: #ffe6a6,
  level94: #ffecc0,
  level95: #ffefcd,
  level96: #fff2d9,
  level98: #fff8f1,
  level99: #fffbff,
  level100: #ffffff,
) !default;

$ref-green: (
  level0: #000000,
  level4: #001201,
  level5: #001502,
  level6: #001802,
  level10: #002203,
  level12: #002604,
  level15: #002d06,
  level17: #003207,
  level20: #003909,
  level24: #00430c,
  level25: #00460d,
  level30: #005311,
  level35: #006015,
  level40: #006e1a,
  level50: #008a23,
  level60: #00a82c,
  level70: #1ac63a,
  level80: #46e354,
  level87: #5df766,
  level90: #71ff74,
  level92: #9cff95,
  level94: #bbffb1,
  level95: #c8ffbf,
  level96: #d5ffcc,
  level98: #ecffe4,
  level99: #f6ffef,
  level100: #ffffff,
) !default;

$ref-teal: (
  level0: #000000,
  level4: #001116,
  level5: #001419,
  level6: #00161c,
  level10: #001f27,
  level12: #00232c,
  level15: #002a34,
  level17: #002f39,
  level20: #003641,
  level24: #003f4c,
  level25: #00424f,
  level30: #004e5d,
  level35: #005b6c,
  level40: #00687b,
  level50: #248197,
  level60: #469cb2,
  level70: #63b6ce,
  level80: #80d2ea,
  level87: #94e6fe,
  level90: #afecff,
  level92: #c1f0ff,
  level94: #d2f4ff,
  level95: #daf5ff,
  level96: #e2f7ff,
  level98: #f1fbff,
  level99: #f8fdff,
  level100: #ffffff,
) !default;

$ref-cyan: (
  level0: #000000,
  level4: #001019,
  level5: #00131d,
  level6: #001620,
  level10: #001e2c,
  level12: #002331,
  level15: #00293a,
  level17: #002e40,
  level20: #003549,
  level24: #003e55,
  level25: #004058,
  level30: #004d68,
  level35: #005978,
  level40: #006689,
  level50: #0080ab,
  level60: #239bcb,
  level70: #4bb6e8,
  level80: #78d1ff,
  level87: #aee1ff,
  level90: #c3e8ff,
  level92: #d0ecff,
  level94: #dcf1ff,
  level95: #e2f3ff,
  level96: #e9f5ff,
  level98: #f5faff,
  level99: #fbfcff,
  level100: #ffffff,
) !default;
